.main{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.head{
    border-collapse: collapse;
    width: 80%;
    display: flex;
    background-color: lightsalmon;
}

.list {
    border-collapse: collapse;
    width: 80%;
    display: flex;
}

.item {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}

.amount{
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}

.price {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
}